.assignment {
    display: none;

    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;

    background: $white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media (min-width: 40em) {
        top: 2em;
        left: 2em;
        right: 2em;
        bottom: 2em;
    }
}

.assignment--show {
    display: block;

    @media (min-width: 40em) {
        display: flex;
    }
}


.assignment__section {
    margin: 0;
    padding: 0;

    @media (min-width: 40em) {
        flex: 0 0 50%;

        float: left;
        width: 50%;
    }
}

.assignment__section--media {
    position: relative;
    overflow: hidden;
}

.assignment__section--txt {
    padding: 2em;

    color: $black;

    @media (min-width: 40em) {
        padding: 3em;
    }
}

.assignment__section__img {
    display: block;
    width: 100%;
    height: auto;

    @media (min-width: 40em) {
        position: absolute;
        top: 50%;
        left: 50%;

        width: auto;
        height: auto;

        max-height: none;
        max-width: none;

        min-height: 100%;
        min-width: 100%;

        transform: translate(-50%, -50%);
    }
}

.assignment__section__title {
    margin: 2rem 0;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.assignment__section__txt {

}
