.clock {
    display: none;

    color: $white;
    text-align: center;
}

.clock--show {
    display: block;
}

.clock__title {
    margin: 4rem 0 1rem;

    font-size: calc(0.2rem + 0.5vw);
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.clock__time {
    display: flex;
    margin: 4rem auto;
    width: 90%;

    padding: 2em 0;

    border: 1px solid rgba(255, 255, 255, .2);
}

.clock__time__el {
    flex: 1;
    padding: 2em 0;

    border-left: 1px solid rgba(255, 255, 255, .2);
    margin-left: -1px;

    text-align: center;

    &:first-child {
        border-left: 0;
    }
}

.clock__time__el__txt {
    font-family: "Times New Roman", Georgia, Serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: calc(0.4rem + 0.5vw);
}

.clock__time__el__number {
    display: block;
    margin: 0;

    font-size: calc(4vw + 4vh + 2vmin);
    line-height: 1;
    font-weight: bold;
}

.clock__extra-info {
    z-index: 100;
    position: absolute !important;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;

    font-family: "Times New Roman", Georgia, Serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: calc(0.4rem + 0.5vw);
    font-weight: normal;

    opacity: .5;
}

.clock__play-btn {
    z-index: 400;
    position: absolute;
    top: 1em;
    right: 1em;

    display: block;
    width: 2rem;
    height: 2rem;

    border-radius: 100%;
    background: transparent;
    border: 1px solid $white;

    opacity: .3;

    transform: scale(1) translate3d(0, 0, 0);;
    transform-origin: center;
    transition: transform .3s ease, opacity .3s ease;

    &:active, &:focus {
        outline: 0;
    }

    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

.clock__play-btn__icon {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: .5rem;
    height: auto;

    transform: translate(-35%, -50%);
}

.glitch-text {
    position: relative;

    &:before, &:after {
        content: attr(data-txt);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
        clip: rect(0, 0, 0, 0);
    }
    &:after {
        left: 2px;
        text-shadow: -1px 0 red;
        animation: glitch-anim-1 2s infinite linear alternate-reverse;
    }
    &:before {
        left: -2px;
        text-shadow: 2px 0 blue;
        animation: glitch-anim-2 3s infinite linear alternate-reverse;
    }
}

@keyframes glitch-anim-1 {
    $steps: 10;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

@keyframes glitch-anim-2 {
    $steps:20;

    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}
